@use "mixins" as *;
.warning-small {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 7px;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
  &_error {
    background-color: var(--red-background);
    color: var(--red);
  }
  &_success {
    background-color: var(--green-background);
    color: var(--green);
  }
}
