@if(recipeSignal()){
<form class="form" [formGroup]="recipeForm" (ngSubmit)="saveRecipe()">
  <!-- Basic Information -->
  <div class="form__row">
    <label for="name">Recipe Name</label>
    <input pInputText id="name" formControlName="name" />
  </div>

  <div class="form__row">
    <label for="image">Image URL</label>
    <input pInputText id="image" formControlName="image" />
  </div>

  <div class="form__row">
    <label for="cuisine">Cuisine</label>
    <input pInputText id="cuisine" formControlName="cuisine" />
  </div>

  <div class="form__row">
    <label for="difficulty">Difficulty</label>
    <p-select
      id="difficulty"
      [options]="difficulties"
      formControlName="difficulty"
    ></p-select>
  </div>

  <!-- Timing and Servings -->
  <div class="form__row">
    <label for="prepTime">Prep Time (min)</label>
    <p-inputnumber id="prepTime" formControlName="prepTimeMinutes" [min]="0" />
  </div>

  <div class="form__row">
    <label for="cookTime">Cook Time (min)</label>
    <p-inputnumber id="cookTime" formControlName="cookTimeMinutes" [min]="0" />
  </div>

  <div class="form__row">
    <label for="servings">Servings</label>
    <p-inputnumber id="servings" formControlName="servings" [min]="1" />
  </div>

  <div class="form__row">
    <label for="calories">Calories per Serving</label>
    <p-inputnumber
      id="calories"
      formControlName="caloriesPerServing"
      [min]="0"
    />
  </div>

  <!-- Meal Type Array -->
  <div class="form__array">
    <label for="mealType">Meal Type</label>
    <div class="form__array_row">
      @for(type of mealType.controls; track $index){
      <div class="form__array_item">
        <span>{{ type.value }}</span>
        <p-button
          type="button"
          severity="contrast"
          variant="text"
          size="small"
          icon="pi pi-times"
          (click)="removeMealType($index)"
          [attr.aria-label]="'Remove ' + type.value"
        ></p-button>
      </div>
      }
    </div>

    <div class="form__array_input-box">
      <input
        #mealTypeInput
        id="mealType"
        pInputText
        [value]="newMealType"
        (input)="newMealType = mealTypeInput.value"
        (keyup.enter)="addMealType()"
        placeholder="Add meal type"
      />
      <p-button
        type="button"
        label="Add"
        icon="pi pi-plus"
        severity="contrast"
        (click)="addMealType()"
      ></p-button>
    </div>
  </div>

  <!-- Tags Array -->
  <div class="form__array">
    <label for="tags">Tags</label>
    <div class="form__array_row">
      @for(tag of tags.controls; track $index){
      <div class="form__array_item">
        <span>{{ tag.value }}</span>
        <p-button
          type="button"
          severity="contrast"
          variant="text"
          size="small"
          icon="pi pi-times"
          (click)="removeTag($index)"
          [attr.aria-label]="'Remove ' + tag.value"
        ></p-button>
      </div>
      }
    </div>

    <div class="form__array_input-box">
      <input
        #tagInput
        id="tags"
        pInputText
        [value]="newTag"
        (input)="newTag = tagInput.value"
        (keyup.enter)="addTag()"
        placeholder="Add tag"
      />
      <p-button
        type="button"
        label="Add"
        icon="pi pi-plus"
        severity="contrast"
        (click)="addTag()"
      ></p-button>
    </div>
  </div>

  <!-- Ingredients Array -->
  <div class="form__array">
    <label for="ingredients">Ingredients</label>
    <div class="form__array_column" formArrayName="ingredients">
      @for(ingredient of ingredients.controls; track ingredient){
      <div class="form__array_editable">
        <input pInputText [formControlName]="$index" />
        <p-button
          type="button"
          severity="contrast"
          variant="text"
          size="small"
          icon="pi pi-times"
          (click)="removeIngredient($index)"
          [attr.aria-label]="'Remove ingredient ' + ($index + 1)"
        ></p-button>
      </div>
      }
    </div>

    <div class="form__array_input-box">
      <input
        #ingredientInput
        id="ingredients"
        pInputText
        [value]="newIngredient"
        (input)="newIngredient = ingredientInput.value"
        (keyup.enter)="addIngredient()"
        placeholder="Add ingredient"
      />
      <p-button
        type="button"
        label="Add"
        icon="pi pi-plus"
        severity="contrast"
        size="small"
        (click)="addIngredient()"
      ></p-button>
    </div>
  </div>

  <!-- Instructions Array -->
  <div class="form__array">
    <label for="instructions">Instructions</label>
    <div class="form__array_column" formArrayName="instructions">
      @for(instruction of instructions.controls; track instruction){
      <div class="form__array_editable">
        <span class="form__array_index">{{ $index + 1 }}.</span>
        <input pInputText [formControlName]="$index" />
        <p-button
          type="button"
          severity="contrast"
          variant="text"
          size="small"
          icon="pi pi-times"
          (click)="removeInstruction($index)"
          [attr.aria-label]="'Remove instruction ' + ($index + 1)"
        ></p-button>
      </div>
      }
    </div>

    <div class="form__array_input-box">
      <input
        #instructionInput
        id="instructions"
        pInputText
        [value]="newInstruction"
        (input)="newInstruction = instructionInput.value"
        (keyup.enter)="addInstruction()"
        placeholder="Add instruction"
      />
      <p-button
        type="button"
        label="Add"
        icon="pi pi-plus"
        severity="contrast"
        size="small"
        (click)="addInstruction()"
      ></p-button>
    </div>
  </div>

  <!-- Submit Button -->
  <p-button
    class="form__submit"
    type="submit"
    label="Save Changes"
    severity="contrast"
    [disabled]="recipeForm.invalid"
  ></p-button>
</form>
} @else {
<div class="form-spinner">
  <p-progress-spinner ariaLabel="loading" />
</div>
}
