:root {
  --neutral-0: #fff;
  --neutral-25: #fbfbfe;
  --neutral-50: #f7f8fd;
  --neutral-100: #ebebf3;
  --neutral-200: #d6d7e4;
  --neutral-300: #c1c2d6;
  --neutral-400: #9091a8;
  --neutral-500: #797888;
  --neutral-600: #63646f;
  --neutral-700: #4a4b53;
  --neutral-800: #35363f;
  --neutral-900: #1f202a;
  --neutral-950: #121418;
  --neutral-1000: #000;

  --text-primary: oklch(0.145 0 0);
  --text-secondary: #717182;
  --background-primary: oklch(0.985 0.002 247.839);
  --background-secondary: oklch(0.954 0.038 75.164);
  --input-background: #f3f3f5;
  --blue: #007bff;
  --orange: oklch(0.705 0.213 47.604);
  --green: oklch(0.448 0.119 151.328);
  --yellow: oklch(0.476 0.114 61.907);
  --red: oklch(62.793% 0.25768 29.223);
  --green-background: oklch(96.055% 0.05849 161.972);
  --yellow-background: oklch(0.973 0.071 103.193);
  --red-background: oklch(89.597% 0.05434 18.114);
}
