@mixin title {
  font-size: 18px;
  font-weight: 500;
}
@mixin title-small {
  font-size: 16px;
  font-weight: 500;
}
@mixin text {
  font-size: 16px;
  font-weight: 400;
}
@mixin big-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
@mixin shadow {
  box-shadow: 1px 1px 5px var(--neutral-600);
  border-radius: 6px;
}
@mixin fr {
  display: flex;
  align-items: center;
}
@mixin frc {
  @include fr();
  justify-content: center;
}
@mixin fc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@mixin fcc {
  @include fc();
  align-items: center;
}

@mixin border {
  border: 1px solid var(--neutral-200);
  border-radius: 12px;
}
@mixin border-b {
  border-bottom: 1px solid var(--neutral-200);
}
@mixin border-t {
  border-top: 1px solid var(--neutral-200);
}
@mixin border-r {
  border-right: 1px solid var(--neutral-200);
}
@mixin border-l {
  border-left: 1px solid var(--neutral-200);
}

@mixin ellipsis {
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
