.p-inputtext {
  background-color: var(--input-background) !important;
  border-color: var(--neutral-300) !important;
}
.p-inputtext:focus {
  box-shadow: 0 0 5px var(--neutral-600) !important;
}

// .p-button.p-button-warn {
//   --p-button-warn-background: var(--accent) !important;
//   --p-button-warn-border-color: var(--accent) !important;
//   --p-button-warn-color: var(--text-color) !important;
//   --p-button-warn-hover-background: var(--accent-hover) !important;
//   --p-button-warn-hover-border-color: var(--accent-hover) !important;
//   --p-button-warn-hover-color: var(--white) !important;
// }

// .p-button:disabled {
//   cursor: not-allowed !important;
// }
// .p-fileupload-choose-button {
//   background-color: var(--blue) !important;
//   outline-color: var(--blue) !important;
//   border-color: var(--blue) !important;
// }
// .p-inputtext:enabled:focus {
//   border-color: var(--input-outline-color) !important;
// }

// .p-inputtext.ng-invalid.ng-dirty,
// .p-inputtext.ng-invalid.ng-dirty:enabled:hover,
// .p-inputnumber.ng-invalid.ng-dirty > .p-inputtext,
// .p-inputnumber.ng-invalid.ng-dirty > .p-inputtext:enabled:hover,
// .p-dropdown.ng-invalid.ng-dirty,
// .p-dropdown.ng-invalid.ng-dirty:not(.p-disabled):hover,
// .p-select.ng-invalid.ng-dirty,
// .p-select.ng-invalid.ng-dirty:not(.p-disabled):hover,
// .p-multiselect.ng-invalid.ng-dirty,
// .p-multiselect.ng-invalid.ng-dirty:not(.p-disabled):hover,
// .p-calendar.ng-invalid.ng-dirty > .p-inputtext,
// .p-calendar.ng-invalid.ng-dirty > .p-inputtext:enabled:hover,
// .p-textarea.ng-invalid.ng-dirty,
// .p-textarea.ng-invalid.ng-dirty:enabled:hover {
//   border-color: var(--p-inputtext-invalid-border-color) !important;
// }

// .p-inputtext.ng-invalid.ng-dirty:enabled:focus,
// .p-inputnumber.ng-invalid.ng-dirty > .p-inputtext:enabled:focus,
// .p-dropdown.ng-invalid.ng-dirty:not(.p-disabled).p-focus,
// .p-select.ng-invalid.ng-dirty:not(.p-disabled).p-focus,
// .p-multiselect.ng-invalid.ng-dirty:not(.p-disabled).p-focus,
// .p-calendar.ng-invalid.ng-dirty > .p-inputtext:enabled:focus,
// .p-textarea.ng-invalid.ng-dirty:enabled:focus {
//   border-color: var(--p-inputtext-invalid-border-color) !important;
//   box-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--p-inputtext-invalid-border-color) 25%, transparent);
// }
