.p-button.p-button-secondary {
  --p-button-secondary-background: white !important;
  --p-button-secondary-border-color: var(--neutral-200) !important;
  --p-button-secondary-color: var(--text-color) !important;
  --p-button-secondary-hover-background: var(--neutral-100) !important;
  --p-button-secondary-hover-border-color: var(--neutral-200) !important;
}
