@use "mixins" as *;
.recipes {
  header {
    background-color: white;
    @include border-b();
    padding: 16px 102px;
    @include fr();
    justify-content: space-between;
    position: sticky;
  }
  picture {
    width: 40px;
    height: 40px;
    background-color: var(--orange);
    border-radius: 0.625rem;
    @include frc();
  }
  &__logo-box {
    @include fr();
    gap: 12px;
  }

  &__logo {
    width: 24px;
    height: 24px;
  }

  &__title {
  }

  &__btn {
  }
}
